<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="- Download videos from YouTube, Instagram, and more!
    - Fast and free video downloader for all your social media needs. No registration required.">
    <meta name="keywords" content="YouTube Video downloader,All in one video downloader,social media downloader,download video from link,instagram reels download,save video from facebook,download tiktok video,download videos for windows,pinterest video downloader">
    <link rel="icon" type="image/x-icon" href="/Public/Pictures/favicon.png">
	<link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="Stylesheet/style.css">
    <link rel="stylesheet" href="Stylesheet/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>All in One Video Downloader | YouTube Video Downloader -SMD </title>
</head>   
<body>
	<nav class="navbar navbar-expand-lg bgs">
        <div class="container-fluid">
            <a class="navbar-brand ms-2 text-light " href="/"><img src="Pictures/smd1.png" class="logo" alt=""></a>
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon bg-light"></span>
            </button>
            <div class="collapse navbar-collapse m-nav" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link font" href="/"><span class="badge rounded-pill text-bg-dark border border dark">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font" href="/youtube"><span class="badge rounded-pill text-bg-danger border border light">Youtube</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active font" aria-current="page" href="/facebook"><span class="badge rounded-pill bg-primary border border light">Facebook</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font" href="/instagram"><span class="badge rounded-pill insta border border light">Instagram</span></a>
                    </li>	
                    <li class="nav-item">
                        <a class="nav-link font" href="/tiktok"><span class="badge rounded-pill text-bg-dark border border light">Tik Tok</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font" href="/pintrest"><span class="badge rounded-pill bg-danger border border light">Pintrest</span></a>
                    </li>
                    <li class="nav-item" id="addme">
                       
                    </li>
                </ul>
            </div>
        </div>
    </nav>