.mobile-index{
  margin-left: -73px;
}
.text-margin {
  margin-top: -35px;
  text-align: center;
}

.para-text-margin {
  text-align: center;
}
.d-card {
  width: 84%;
  margin-left: 90px;
}

.download-btn{
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #ced4da5e;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
.s-p{

  background: linear-gradient(45deg, #159dc9, #159dc9, #193255, #159dc9, #193255, #193255, #193255, #159dc9, #193255, #159dc9);
    -webkit-background-clip: text;
    color: transparent;
    animation: animate 25s linear infinite;
    z-index: 0;
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 5px);
    top: 8px;
    left: -4px;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400% 0;
  }
}

.bg {
  background-image: url(../Pictures/bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
 /* opacity:0.9; */
}
.hero-row{
  margin-left: 96px;
}


.bg3 {
  background-image: url(../Pictures/wave.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  margin-top: -240px;

}


.br {
  border-radius: 30px;
}

.move {
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.bt {
  background-color: #0009;
}

.font {
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}
.os {
  margin-right: 10px;
}

.download-margin {
  margin: 125px !important;
}

.platform-margin {
  margin-top: -86px;
}

.h-margin {
  margin-top: 50px;
}

.video-card {
  margin-left: 70px;
  border: 2px solid black;
  width: 456px;
}

.img_div {
  margin-left: 45px;
}

.download_div {
  width: 372px;
  display: flex;
}

.low_download {
  margin-left: 47px;
}

.high_download {
  margin-left: 23px;
}

.y-img {
  width: 350px;
  margin-left: 73px;
  margin-top: 13px;
}

.img-card {
  width: 423px;
}

.y-link {
  height: 49px;
  /* display: flex; */
  margin-left: 72px;
}

.y-video {
  margin-left: 117px;
}

.pintrest_download {
  margin-left: 229px;
  margin-bottom: 10px;
}

.pintrest_img {
  width: 300px;
  height: 210px;
}

.pintrest_card {
  margin-left: 28px;
}

.pintrest_ {
  margin-left: 98px;
  font-size: 20px;
}

.Facebook_img {
  width: 380px;
  height: 247px;
  margin-left: -8px;
  margin-top: 0px;
}

.fb-mar {
  margin-left: 210px;
  width: 47%;

}

.fb-card {
  width: 400px;
  margin-left: 243px;
  margin-bottom: 15px;
}

.tik-card {
  height: 344px;
  margin-left: 256px;
  width: 436px;
  margin-bottom: 10px;
}

.tik-img {
  margin-left: 92px;
  width: 222px;
}

.tik-btn {
  margin-left: 132px;
  padding: 8px;
  width: 137px;
}

.low_facebook {
  width: 30%;
  margin-left: 74px;
}

.home-icon {
  border-radius: 16px;
  padding: 10px;
}



.support {

  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  position: relative;
  text-align: center;
  padding: 18px;
  z-index: 1;
}

.support::before,
.support::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  /* background: linear-gradient(45deg, #7C8EFF, #ED7CFF, #7C8EFF, #ED7CFF, #7C8EFF, #ED7CFF, #7C8EFF, #ED7CFF, #7C8EFF, #ED7CFF); */
  /* background-size: 400%; */
  width: calc(100% + 4px);
  height: calc(100% + 30px);
  z-index: -1;
  /* animation: animate 25s linear infinite; */
  background: white;
}

.support::after {
  filter: blur(25px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
.version-platform {
  margin-top: 17px;
}

.sp-div {
  margin-top: -133px;

}

.bgimg {
  background-color: #000;
}

.bg-2 {
  background: #000;
}

.insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.bgs {
  background-color: #000;
}

.font {
  font-size: 20px;
}

.logo {
  width: 90px;
  height: 50px;
}

.instag {
  margin-left: 187px;
  height: 295px;
  width: 485px;
  margin-bottom: 10px;
}

.ins-img {
  margin-left: 67px;
  height: 291px;
  margin-top: -13px;
  width: 137px;
}

.card-thumnail {
  height: 224px;
  margin-left: 40px;
}

.ins-btn {
  margin-left: 81px;
  padding: 10px;
  width: 127px;
}

.ins-p {
  color: black;
}

.form-control {
  outline: none;
    box-shadow: none;
    border: 16px solid #00000063;
    text-align: center;
    font-size: 20px;
}


.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #8C8AA7;
}

.form-control::placeholder {
  font-size: 12px;
}

.box {
  width: 350px;
  height: 100%;
  max-height: 600px;
  min-height: 450px;
  background: #000;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
}

.box .box__ghost {
  padding: 15px 25px 25px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -30%);
}

.box .box__ghost .symbol:nth-child(1) {
  opacity: 0.2;
  animation: shine 4s ease-in-out 3s infinite;
}

.box .box__ghost .symbol:nth-child(1):before,
.box .box__ghost .symbol:nth-child(1):after {
  content: "";
  width: 12px;
  height: 4px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  bottom: 65px;
  left: 0;
}

.box .box__ghost .symbol:nth-child(1):before {
  transform: rotate(45deg);
}

.box .box__ghost .symbol:nth-child(1):after {
  transform: rotate(-45deg);
}

.box .box__ghost .symbol:nth-child(2) {
  position: absolute;
  left: -5px;
  top: 30px;
  height: 18px;
  width: 18px;
  border: 4px solid;
  border-radius: 50%;
  border-color: #fff;
  opacity: 0.2;
  animation: shine 4s ease-in-out 1.3s infinite;
}

.box .box__ghost .symbol:nth-child(3) {
  opacity: 0.2;
  animation: shine 3s ease-in-out 0.5s infinite;
}

.box .box__ghost .symbol:nth-child(3):before,
.box .box__ghost .symbol:nth-child(3):after {
  content: "";
  width: 12px;
  height: 4px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  top: 5px;
  left: 40px;
}

.box .box__ghost .symbol:nth-child(3):before {
  transform: rotate(90deg);
}

.box .box__ghost .symbol:nth-child(3):after {
  transform: rotate(180deg);
}

.box .box__ghost .symbol:nth-child(4) {
  opacity: 0.2;
  animation: shine 6s ease-in-out 1.6s infinite;
}

.box .box__ghost .symbol:nth-child(4):before,
.box .box__ghost .symbol:nth-child(4):after {
  content: "";
  width: 15px;
  height: 4px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  top: 10px;
  right: 30px;
}

.box .box__ghost .symbol:nth-child(4):before {
  transform: rotate(45deg);
}

.box .box__ghost .symbol:nth-child(4):after {
  transform: rotate(-45deg);
}

.box .box__ghost .symbol:nth-child(5) {
  position: absolute;
  right: 5px;
  top: 40px;
  height: 12px;
  width: 12px;
  border: 3px solid;
  border-radius: 50%;
  border-color: #fff;
  opacity: 0.2;
  animation: shine 1.7s ease-in-out 7s infinite;
}

.box .box__ghost .symbol:nth-child(6) {
  opacity: 0.2;
  animation: shine 2s ease-in-out 6s infinite;
}

.box .box__ghost .symbol:nth-child(6):before,
.box .box__ghost .symbol:nth-child(6):after {
  content: "";
  width: 15px;
  height: 4px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  bottom: 65px;
  right: -5px;
}

.box .box__ghost .symbol:nth-child(6):before {
  transform: rotate(90deg);
}

.box .box__ghost .symbol:nth-child(6):after {
  transform: rotate(180deg);
}

.box .box__ghost .box__ghost-container {
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100px 100px 0 0;
  position: relative;
  margin: 0 auto;
  animation: upndown 3s ease-in-out infinite;
}

.box .box__ghost .box__ghost-container .box__ghost-eyes {
  position: absolute;
  left: 50%;
  top: 45%;
  height: 12px;
  width: 70px;
}

.box .box__ghost .box__ghost-container .box__ghost-eyes .box__eye-left {
  width: 12px;
  height: 12px;
  background: #332F63;
  border-radius: 50%;
  margin: 0 10px;
  position: absolute;
  left: 0;
}

.box .box__ghost .box__ghost-container .box__ghost-eyes .box__eye-right {
  width: 12px;
  height: 12px;
  background: #332F63;
  border-radius: 50%;
  margin: 0 10px;
  position: absolute;
  right: 0;
}

.box .box__ghost .box__ghost-container .box__ghost-bottom {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.box .box__ghost .box__ghost-container .box__ghost-bottom div {
  flex-grow: 1;
  position: relative;
  top: -10px;
  height: 20px;
  border-radius: 100%;
  background-color: #fff;
}

.box .box__ghost .box__ghost-container .box__ghost-bottom div:nth-child(2n) {
  top: -12px;
  margin: 0 0px;
  border-top: 15px solid #332F63;
  background: transparent;
}

.box .box__ghost .box__ghost-shadow {
  height: 20px;
  box-shadow: 0 50px 15px 5px #3B3769;
  border-radius: 50%;
  margin: 0 auto;
  animation: smallnbig 3s ease-in-out infinite;
}

.box .box__description {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.box .box__description .box__description-container {
  color: #fff;
  text-align: center;
  width: 200px;
  font-size: 16px;
  margin: 0 auto;
}

.box .box__description .box__description-container .box__description-title {
  font-size: 24px;
  letter-spacing: 0.5px;
}

.box .box__description .box__description-container .box__description-text {
  color: #8C8AA7;
  line-height: 20px;
  margin-top: 20px;
}

.box .box__description .box__button {
  display: block;
  position: relative;
  background: #3a51c0;
  border: 1px solid transparent;
  border-radius: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  font-size: 18px;
  padding: 0 70px;
  white-space: nowrap;
  margin-top: 25px;
  transition: background 0.5s ease;
  overflow: hidden;
}

.box .box__description .box__button:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100px;
  background: #fff;
  bottom: -25px;
  left: 0;
  border: 2px solid #fff;
  transform: translateX(-50px) rotate(45deg);
  transition: transform 0.5s ease;
}

.box .box__description .box__button:hover {
  background: transparent;
  border-color: #fff;
}

.box .box__description .box__button:hover:before {
  transform: translateX(250px) rotate(45deg);
}

.tech {
  text-align: center;
  color: #fff;
  font-size: 70px;
}

/* body{
  display:flex;
  margin:0;
  padding:0;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: arial;
} */
.cst {

  border: none;
  background-color: #000;
}

.container {
  width: 90%;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container .card {
  position: relative;
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: .4s;

}

.container .card .face.face1 {
  position: relative;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  transform: translateY(0);
  box-shadow:
    /* inset 0 0 60px whitesmoke,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff; */
    inset 0 0 60px #022130, 
    inset 20px 0 80px #00adff, 
    inset -20px 0 80px #00adff, 
    inset 20px 0 300px #00adff, 
    inset -20px 0 300px #00adff, 0 0 50px #fff,
   -10px 0 80px #00adff, 10px 0 80px #00adff;
}


.container .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
  text-align: center;

}

.container .card:hover .face.face1 .content {
  opacity: 1;

}

.container .card .face.face1 .content i {
  font-size: 5em;
  color: black;
  display: inline-block;

}

.container .card .face.face1 .content h3 {
  font-size: 1em;
  color: white;
  text-align: center;


}

.container .card .face.face1 .content a {
  transition: .5s;
}

.container .card .face.face2 {
  position: relative;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);


}

.container .card .face.face2 .content p,
a {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  color: #333;
}

.container .card .face.face2 .content a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  outline: 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: whitesmoke;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

@keyframes upndown {
  0% {
    transform: translateY(5px);
  }

  50% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(5px);
  }
}

@keyframes smallnbig {
  0% {
    width: 90px;
  }

  50% {
    width: 100px;
  }

  100% {
    width: 90px;
  }
}

@keyframes shine {
  0% {
    opacity: 0.2;
  }

  25% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.2;
  }
}