<%- include("Layouts/header.ejs"); %>
<section class="bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mt-5">
                <h2>About Us</h2>
                <p>Introducing our Social Media Video Downloader website, the ultimate solution for anyone who wants to save their favorite videos from social media platforms. With our user-friendly website, you can download videos from popular platforms such as Facebook, Instagram, Pintrest, and TikTok in just a few clicks. Our website is designed to make downloading videos as simple and effortless as possible, allowing you to easily download videos to your device without any hassle. We are committed to providing a fast and reliable service, so you can enjoy your favorite videos even when you're offline. Try our Social Media Video Downloader today and start saving your favorite videos in high-quality formats!</p>
            </div>

            <div class="col-lg-12 text-dark">
                <div class="card">
                    <div class="card-header">
                        Terms & Condtions
                    </div>
                    <div class="card-body">
                        <div class="col-lg-12 mt-5">
                            <h2>TERMS AND CONDITIONS</h2>
                            <p>Welcome to our social media video downloader website. The following terms and conditions (the "Agreement") govern your use of the website and all related services, applications, and tools (collectively, the "Service"). By using our Service, you agree to be bound by this Agreement. If you do not agree to be bound by this Agreement, please do not use the Service.</p>
                        </div>

                        <div class="col-lg-12 mt-5">
                            <h2>1.Ownership of Intellectual Property</h2>
                            <p>All content on our website, including but not limited to text, graphics, logos, images, videos, software, and source code, is the property of our website or our licensors and is protected by copyright, trademark, and other intellectual property laws. You may not copy, modify, distribute, sell, or transfer any content on our website without our prior written consent.</p>
                        </div>

                        <div class="col-lg-12 mt-5">
                            <h2>2.Use of the Service</h2>
                            <p>Our Service allows you to download social media videos for personal and non-commercial use only. You may not use the Service for any illegal or unauthorized purpose. You must comply with all applicable laws and regulations in your use of the Service.</p>
                        </div>

                        <div class="col-lg-12">
                            <h2>3.Disclaimer of Warranties</h2>
                            <p>Our website provides the Service "as is" and "as available" without any warranty of any kind, either express or implied, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. We do not warrant that the Service will be uninterrupted, error-free, or secure, or that any defects in the Service will be corrected.</p>
                        </div>

                        <div class="col-lg-12">
                            <h2>4.Limitation of Liability</h2>
                            <p>Our website shall not be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with the use or inability to use the Service, even if we have been advised of the possibility of such damages. In no event shall our website's total liability to you exceed the amount paid by you, if any, for accessing the Service.</p>
                        </div>

                        <div class="col-lg-12">
                            <h2>5.Indemnification</h2>
                            <p>You agree to indemnify, defend, and hold harmless our website, its affiliates, officers, directors, employees, agents, and licensors from any claim, demand, or damage, including reasonable attorneys' fees, arising out of or in connection with your use of the Service or your violation of this Agreement.</p>
                        </div>

                        <div class="col-lg-12">
                            <h2>6.Modifications to the Agreement</h2>
                            <p>We reserve the right to modify this Agreement at any time by posting a revised version on our website. Your continued use of the Service after such modifications constitute your acceptance of the revised Agreement.</p>
                        </div>

                        <div class="col-lg-12 mb-5">
                            <h2>7.Termination</h2>
                            <p>We may terminate this Agreement and your access to the Service at any time, with or without cause, without notice to you. Upon termination, you must immediately cease all use of the Service.</p>
                        </div>

                        <div class="col-lg-12 mb-5">
                            <h2>8.Advertising & Branding</h2>
                            <p>Imagine, what if I tell you that you can showcase your brand to over 1000 people (on an average) within a day, at a cost of rupees XYZ INR only? And what if you have got a budget of over 50,000 INR? In this case, you can make your brand visible to 1000*50,000= 50000000 people in just one day.</p>
                        </div>

                        <div class="col-lg-12 mb-5">
                            <h2>9.Entire Agreement</h2>
                            <p>This Agreement constitutes the entire agreement between you and our website with respect to the Service and supersedes all prior or contemporaneous communications and proposals, whether oral or written, between you and our website.</p>
                            <p>If you have any questions or concerns about this Agreement, please contact us at smdownloader@outlook.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include("Layouts/footer.ejs"); %>